@import "./reset.scss";

$white: #dde2d2;
$blue: #01a1c8;
$red: #d03022;
$deepRed: #583634;
$bg: #dde2d2;

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster {
  margin-top: 30px;
  background-color: $bg;
  width: 38%;
  height: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1.2fr 100px 1.1fr 100px 1.2fr 100px;
  .top-left,
  .top-top,
  .top-right,
  .center-bottom {
    background-color: $blue;
  }

  .top-bottom,
  .conter-center,
  .bottom-top {
    background-color: $white;
  }

  .center-left,
  .center-right {
    background-color: $deepRed;
    grid-row: span 3;
  }

  .center-top,
  .bottom-left,
  .bottom-right,
  .bottom-bottom {
    background-color: $red;
  }

  .top-left,
  .top-right,
  .bottom-right,
  .bottom-left {
    grid-row: span 2;
  }

  .top-bottom,
  .center-center,
  .bottom-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .center-center {
    gap: 0px;
    font-size: 110px;
  }
  .bottom-top {
    justify-content: space-between;
    .address {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
